/*** GENERAL ***/
*{
  font-family: "Open Sans", OpenSans, sans-serif;
}
h2{
  font-size: 48px;
  font-weight: 200;
  margin-top: 0px;
}
body{
  margin: 0px;
}
p, li{
  line-height: 30px;
  font-size: 20px;
  font-weight: 200;
}
.npm-button{
  color: white;
  padding: 10px 80px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 200;
}
a{
  text-decoration: none;
  color:white;
}
.container{
  width: 1024px;
  margin: 0 auto;
}



/*** NAV **/
nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 15px;
  height: 18px;
}
nav, .top-links li a {
  font-size: 14px;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;

}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
}
.top-links li {
  display: inline-block;
  margin: 0 10px;
}
.top-left{
  float: left;
}



/*** HEADER ***/
header{
  background-image: url("images/city-scape.svg");
}

/*** HEADER TOP ***/

.header-top{
  padding: 15px;
}
.search-bar{
  background-color: rgb(31, 82, 111);
  border: 1px solid gray;
  padding: 15px;
  width: 90%;
}
.logos{
  height: 50px;
  width: auto;
}
#npm-logo{ 
  padding-right: 15px;
}
.header-top {
  display: flex;
  justify-content: space-around;
  height: 40px;
}
.ht1{
  flex: 1;
  }
.ht2{
  flex-grow: 7;
  padding: 0 20px;
  }
.ht3{
  flex: 2;
  display: flex;
  align-items:center;
}
  .login-text{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
  }
  .login-text{
    padding-right: 10px;
  }
  .login-text, .login-text a{
    color: white;
    text-decoration: none;
  }
.search-bar-button{
  height: 45px;
  background-color: rgb(31, 82, 111);
  border: 1px solid grey;
  padding: 15px;
}



  /*** Header content ***/
  .header-content{
    padding-top: 80px;
    padding-bottom: 100px;
    color: white;

  }
  .header-text{
    max-width: 400px;
  }
  .npm-button1{
    background-color:rgb(240, 146, 51);
    color: white;
    padding: 10px 80px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 200;
  }
  .npm-button-orange{
    background-color:rgb(240, 146, 51);
  }


  /*** SECTION 1 ***/
  #section1{
    background-color: rgb(39, 53, 71);
    padding: 50px 0;
    color: white;
    padding: 200px 0;
  }
  .npm-button-red{
    background-color:rgb(203, 56, 55);
  }
  .collab_content{
   width: 500px;
   float: right;

  }
  .collab_content h2{
    font-size: 36px;
   }

  .collab_image{
    height: 266px;
  }

  /*** SECTION 2 ***/
  #section2{
    background-image: url("images/forklift.svg");
    background-size: cover;
    padding: 150px 0;
  }
  .section2-content{
    width: 1200px;
    margin: 0 auto;
    color: white;
  }
  .section2-text{
    width: 500px;
  }
  .npm-button-black{
    background-color:rgb(49, 68, 88);
  }

  /*** SECTION 3 ***/
  #section3{
    padding: 50px 0;
    margin-bottom: 100px;
    color: black;
  }
  #section3 h2{
    font-size: 36px;
  }
  .section3-top{
    text-align: center;
    margin-bottom: 40px;
  }

  .section-class{
    width: 29.33%;
    padding: 1%;
    margin: 1%;
    float: left;
    text-align: center;
  }

  .section-class img{
    width: 100px;
    height: 100px;
  }